{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% load dict_filter %}
{% load list_filter %}
{% block subnav %}
{% include "damages_subnav.html" %}
{% endblock %}
{% block contents %}
<div class="container main-contents">
    <div class="section">
	    <div class="section-header">
	          <p class="section-title">All Damages</p>
	    </div>
	    <div class="section-data purchases-list">
                 {% regroup object_list by date|date:"F" as purchases %}
                   {% for purchase_list in purchases %}
		   <div class=month-header>
		   <h3 class=month-name>{{purchase_list.grouper}} <span class="badge purchase-count">{{purchase_list.list|length}}</span></h3>
		   {% with month=purchase_list.grouper %}
		   <h3 class=month-total>GHS {{month_sum_dict|get_item:month|get_from_index:0}} ({{month_sum_dict|get_item:month|get_from_index:1|floatformat:2}}%)</h3>
		   {% endwith %}
                   </div>
		   <table class="stripe cell-border damages-table" cellspacing="0"  width="100%">
			   <thead>
				<tr>
					<th>Date</th>
					<th>FANYOGO Pouch</th>
					<th>FANCHOCO Pouch</th>
					<th>FANICE Pouch</th>
					<th>FANPOP Pouch</th>
					<th>FANDANGO  Pouch</th>
					<th>FANDANGO 500ml</th>
					<th>FANYOGO MP</Th>
					<th>Total Value</th>
				</tr>
			   </thead>
			   <tbody>
                    {% for purchase in purchase_list.list %}
		        <tr>
		    <a href="../detail/{{purchase.pk}}" class=purchase-item-link>
			    <td>{{purchase.date}}</td> 
			    {% with damage_list=damages_dict|get_item:purchase.pk %}
			    {% for item in damage_list %}
				    <td>{{item}}</td>
			    {% endfor %}
			    {% endwith %}
			    <td>{{purchase.get_total|floatformat:2|intcomma}}</td> 
		    </a>
		        </tr>
		    {% endfor %}
			   </tbody>
		   </table>
		    {% endfor %}
            </div>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#damages-link").addClass("active");
		$("#damages-all").addClass("active");
		$(function() {
			$(".datepicker").datepicker({
		            changeMonth: true,
		            changeYear: true,
		            dateFormat: "dd-mm-yy"	    
			})
		});

		var table = $(".damages-table").DataTable({
	              searching: false,
	              paging: false,	      
	              info: false,	      
		      scrollY: "300px",
		      scrollX: true,
		      scrollCollapse: true,
		      fixedColumns: {
		         leftColumns: 1,
			 rightColumns: 1 
		      }
		});
	})
</script>
{% endblock %}

